<h2><%= teacher.full_name %>'s students for <%= teacher.course.course_name.sub(/_/, " ").capitalize %></h2>
<h3>Students</h3>
<ul>
  <% teacher.students.each do |student|%>
  <li><%= student.f_name %> <%= student.l_name%> </li>
  <% end %>
</ul>

<%= link_to("Back to Teachers", teachers_path) %>
