<h2>All <%= (courses.size) %> Courses</h2>

<ul>
  <% courses.each do |course| %>
  <li> Id: <%= course.id %> Subject: <%= course.subject_name %> Name: <%= course.name %></li>
  <% end %>
</ul>

<%= link_to('< Prev Page', schools_path(page: page - 1)) if page > 0 %>
<%= link_to("More Page >", schools_path(page: page + 1)) unless courses.size <= 24 %>
 <!-- unless courses.size <= 25 -->
